<div id="add_post_content_modal" class="modal">
  <div class="modal-content">
    <span class="close close_add_post_content_modal">&times;</span>
    <div class="title">
      <strong><%= t "share.add_post_content" %></strong>
    </div>
  </div>
</div>
