<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t("mailer.notice_pending_post.greeting", name: @user.name) %></h1>
    <p>
      <%= t("mailer.notice_pending_post.content") %><br>
    </p>
    <%= link_to t("mailer.notice_pending_post.link"), @url %>
  </body>
</html>
