<div class="_item">
  <div class="avatar">
    <%= group_avatar(group) %>
  </div>
  <div class="auth">
    <div class="name"><strong><%= group.name %></strong></div>
    <div class="user">Nhóm của <strong><%= group_user_name(group) %></strong></div>
  </div>
</div>
