<%= render layout: "users/item", locals: { user: user } do %>
  <div class="item user_card">
    <div><%= current_user.common_friends(user.id).count %> bạn chung</div>
    <div class="button_wrap">
      <%= button_to 'Thêm bạn bè', relations_path, params: { relation: { receiver_id: user.id } } %>
    </div>
  </div>
<% end %>
