<div class="setting">
  <h1>Tất cả bạn bè</h1>
</div>
<div class="setting">
  <input placeholder="Tìm kiếm Bạn bè" />
</div>
<div class="line"></div>
<div class="setting">
  <h3><%= @friends.count %> người bạn</h3>
</div>
<% @friends.each do |f| %>
  <%= link_to "/profiles/" + f.id.to_s do %>
    <div class="item">
      <%= image_tag('avatar-svgrepo-com.svg') %>
      <div><%= f.name %></div>
    </div>
  <% end %>
<% end %>
