<%= render partial: "posts/create", locals: { group_id: group_id } %>
<div id="posts"><%= render partial: "posts/card", collection: posts, as: :post %></div>
<div class="pagination_post">
  <%= paginate posts, params: {controller: 'posts', action: 'index', format: :js, group_id: group_id } %>
</div>
