<div class="menu_post">
  <%= image_tag('dot-menu-more-2-svgrepo-com.svg') %>
</div>
<div class="drop_down menu">
  <% button_text = post.comment_flag ? t("share.turn_off_comments") : t("share.turn_on_comments") %>
  <%= button_to button_text, post_path(post.id), method: :patch, params: { post: { comment_flag: !post.comment_flag } } %>
  <%= button_to t("share.edit"), edit_post_path(post.id), method: :get, remote: true %>
</div>
