<% flash.each do |type, msg| %>
  <div class='notice error'>
    <% if msg.instance_of? String %>
      <%= msg %>
    <% else %>
      <% msg.each do msg %>
        <%= msg[0] %>
        <br>
      <% end %>
    <% end %>
  </div>
<% end %>
